<div>
    <label th:text="${dialog.match.platform.city.name}" />
    ,
    <label th:text="${dialog.match.platform.name}" />
</div>
<div>
    <label th:text="${dialog.match.dateTime.toLocalDate()}" />
    <label th:text="${dialog.match.dateTime.toLocalTime()}" />
</div>
<div>
    <form method="GET" action="/match/confirm" th:if="${(!dialog.match.isConfirmedBy(user))}">
        <input type="hidden" name="user" th:value="${another.login}" />
        <button >confirm</button>
    </form>
    <form method="GET" action="/match/decline">
        <input type="hidden" name="user" th:value="${another.login}" />
        <button>decline match</button>
    </form>
</div>