<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tennis Login</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
    <div id="react"/>
    <script src="/generated/app-bundle.js"/>
<!--    <form method="POST" th:action="@{/login}" id="loginForm">-->
<!--        &lt;!&ndash; end::thAction[] &ndash;&gt;-->
<!--        <label for="username">Username: </label>-->
<!--        <input type="text" name="username" id="username" /><br/>-->
<!--        <label for="password">Password: </label>-->
<!--        <input type="password" name="password" id="password" /><br/>-->
<!--        <input type="submit" value="Login"/>-->
<!--    </form>-->
<!--    <form method="GET" th:action="@{/registration}">-->
<!--        <input type="submit" value="New user"/>-->
<!--    </form>-->

</body>
</html>