<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:insert="fragments/header :: menu" />

<p>platforms</p>

<script th:inline="javascript" src="js/createPlatformsMap.js"></script>
<script th:inline="javascript">
    jQuery(document).ready(
        function($) {
            $("#city").change(function () {
                $.post("/platforms/platforms_list",
                    { index: $("#city").val() },
                    function(platforms) {
                        createPlatformsMarkers(platforms, [[${cities}]], "city")
                    }
                );
            });

            createMap();

            if ([[${solveErrors}]]) {
                recreateNewMarker();
            }
        });
</script>


<select id="city" name="city">
    <option disabled selected>Выберите город</option>
    <option th:each="city : ${cities}" th:value="${city.index}" th:text="${city.name}" />
</select>
<br>


<div id="mapid"></div>

<button id="creationBtn" onclick="preparePlatform()" th:classappend="${solveErrors == null ? '' : 'unvisible'}">Создать площадку</button>
<div id="creationFrm" th:classappend="${solveErrors == null ? 'unvisible' : ''}">
<form method="POST" th:object="${newPlatform}">
    <input type="hidden" th:field="*{latitude}" />
    <input type="hidden" th:field="*{longitude}" />
    <input type="text" name="name" />
    <p class="error"
       th:if="${#fields.hasErrors('name')}"
       th:errors="*{name}"/>

    <p>расписание</p>
    <div id="timetable">
        <div th:each="day : ${week}"
             th:id="${'timetable.'+day.toString().toLowerCase()}">
            <p th:text="${day}"></p>
            <input
                    type="radio"
                    th:name="${'timetable.'+day.toString().toLowerCase()+'.openWholeDay'}"
                    value="true"
                    th:text="${'целый день открыто'}"
                    checked />
            <br />
            <input
                    type="radio"
                    th:name="${'timetable.'+day.toString().toLowerCase()+'.openWholeDay'}"
                    th:value="false"
                    th:text="${'целый день закрыто'}"
                    th:checked="${solveErrors != null
                                            && newPlatform.timetable != null
                                            && __${'newPlatform.timetable.'+day.toString().toLowerCase()}__ != null
                                            && __${'newPlatform.timetable.'+day.toString().toLowerCase()+'.openWholeDay'}__ == false}" />
            <br />
            <input
                    type="radio"
                    th:name="${'timetable.'+day.toString().toLowerCase()+'.openWholeDay'}"
                    th:value="null"
                    th:text="${'расписание'}"
                    th:checked="${solveErrors != null
                                            && newPlatform.timetable != null
                                            && __${'newPlatform.timetable.'+day.toString().toLowerCase()}__ != null
                                            && __${'newPlatform.timetable.'+day.toString().toLowerCase()+'.openWholeDay'}__ == null}" />
            <input type="time"
                   th:field="*{__${'timetable.'+day.toString().toLowerCase()+'.openOn'}__}"
                   th:attr="disabled = ${solveErrors == null
                                            || newPlatform.timetable == null
                                            || __${'newPlatform.timetable.'+day.toString().toLowerCase()}__ == null
                                            || __${'newPlatform.timetable.'+day.toString().toLowerCase()+'.openWholeDay'}__ != null}" />
            <input type="time"
                   th:field="*{__${'timetable.'+day.toString().toLowerCase()+'.closeOn'}__}"
                   th:attr="disabled = ${solveErrors == null
                                            || newPlatform.timetable == null
                                            || __${'newPlatform.timetable.'+day.toString().toLowerCase()}__ == null
                                            || __${'newPlatform.timetable.'+day.toString().toLowerCase()+'.openWholeDay'}__ != null}" />

            <p class="error"
               th:if="${#fields.hasErrors('timetable.'+day.toString().toLowerCase()+'.openOn')}"
               th:errors="*{__${'timetable.'+day.toString().toLowerCase()+'.openOn'}__}"/>
        </div>
    </div>
    <br />
    <button onclick="createPlatform()">Добавить площадку</button>
</form>
</div>

</body>
</html>