<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:insert="fragments/header :: menu" />

<div>
    <div th:each="match : ${matches}">
        <label th:text="${match.dateTime}" />
        с
        <label th:text="${match.getAnother(user).login}" />
        в
        <label th:text="${match.platform.city.name}" />
        ,
        <label th:text="${match.platform.name}" />


        <label th:if="${match.isFulfilled()}"
               th:utext="${'✓'}"
               style="color:green; font-weight: bold;"
               th:title="${'подтвеждено '+match.getAnother(user).login}" />
        <form th:if="${!match.isFulfilled() && match.isConfirmedBy(user)}"
              method="GET"
              action="/match/decline">
            <button name="user" th:value="${match.getAnother(user).login}">
                отменить
            </button>
        </form>
        <form th:if="${!match.isFulfilled() && !match.isConfirmedBy(user)}"
              method="GET"
              action="/match/confirm">
            <button name="user" th:value="${match.getAnother(user).login}">
                подтвердить
            </button>
        </form>
    </div>
</div>

</body>
</html>