<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:insert="fragments/header :: menu" />

<a
        th:each="role : ${roles}"
        th:if="${!role.role.toString().equals('ADMIN') || user.hasRole('admin')}"
        th:href="@{${'?role='+role.role}}"
        th:text="${role.role.toString().toLowerCase()}"
        class="filter-link"
/>
<a
        th:href="@{'/search'}"
        th:text="all"
        class="filter-link"
/>

<div class="user-line" th:each="u : ${users}" th:if="${!u.equals(user)}" th:id="${u.login+'_userline'}">
    <th:block th:insert="fragments/userLine" />
</div>

</body>
</html>